<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juegofinal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/john"
        android:label="Virus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Perdiste"
            android:theme="@style/AppTheme.noActionBar" />
        <activity android:name=".Ganaste"
            android:theme="@style/AppTheme.noActionBar" />
        <activity android:name=".Pause"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".Niveles"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".Settings"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".GameActivity"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>